#title{
    text-align: center;
    display: block;
}
.color {
    border:1px solid black;
    display: inline-block;
    height: 40px;
    width: 40px;
}
#color-palette{
    display: inline
}

 /* Tabela */
#pixel-board{
    border: 2px solid black;
    width: 210px;
    height: 210px;
}
.pixel {
    background-color: white;
    width: 40px;
    height: 40px;
    border: 1px solid black ;
    display: inline-block;
}
#inicial {
    border:1px solid black;
    display: inline-block;
    height: 40px;
    width: 40px;

}